body {
	margin: 0;
	background: black;
}
header .row, footer .row {
  display: flex;
  align-items: center;
}
header div {
	background: rgb(40,40,40);
	color:white;


}
header div a{
	color: white;
	text-decoration: none;
}
header h1 {
	margin: 2px 5px;
	display: inline;
	font-family: 'Fjalla One', sans-serif;
}
header nav ul{
	display: inline;
}
header nav ul li {
	display: inline-block;
	margin: 0px;
	padding: 3px 18px;
		background: rgb(20,20,20);
	}
.jumbotron {
	padding: 0px;
}